*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root
{
    --primary: #C4E1E6;
    --primary-light: #A4CCD9;
    --secondary: #8DBCC7;
    --accent: #e3ffc8;
}
body
{
    font-family: Arial, sans-serif;
    background-color: var(--secondary);

}
/* Styling header */
header
{
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: var(--primary-light);;
}
.title
{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--accent);
    display: flex;
    align-items: center;
    padding: 0em 0.5em;
}

nav ul
{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

nav ul li a
{
    padding: 10px;
    display: flex;
    text-decoration: none;
    color: var(--accent);
    font-weight: bold;
    font-size: 1.3em;
}

nav ul li a
{
    justify-items: center;
    align-items: center;
}

/* styling main */
main
{
    padding: 1em;
    margin: 0.3em;
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--secondary);
}

footer a
{
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
}