body
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipe-card 

{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 40px;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a
{
    color: #007bff;
    text-decoration: none;

    transition: color 0.3s ease;

 
    &:hover
    {
        color: #004085;
        text-decoration:underline;
    }
}