:root
{
    --background: #222831;
    --secondary : #393E46;
    --tertiary: #00ADB5;
    --white: #EEEEEE;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* =========================styling the header========================= */
header
{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    font-size: 1.2em;
}

.logo
{
    background-color: var(--secondary);
    padding: 0px !important;
}

nav ul
{
    list-style: none;
    display: flex;
    gap: 1em;
    background-color: var(--secondary);
}

nav ul li
{
    justify-content: space-between;
}

nav ul li a
{
    text-decoration: none;
    background-color: var(--secondary);
}



/* ========================= styling the Main ========================= */
.columns
{
    background-color: var(--secondary);
    width: 98vw;
    height: 86vh;
    display: flex;
    margin: 0.9em auto;
    border-radius: 1em;
    padding: 1em;
    gap: 0.5em;
}

.columns .left
{
    padding: 1em;
    width: 25%;
    border-radius: 1em;
    /* border box */
    box-sizing: border-box;
    flex: 1;
}
.left ul li 
{
    list-style: none;
    margin: 0.5em 0;
}
.left ul li a
{
    color: var(--white);
    font-size: 1.2em;
    padding: 0.5em;
    display: block;
    border-radius: 0.5em;
    text-decoration: none;
    text-align: center;
}


.columns .right
{
    flex: 3;
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    font-size: 1.6em;
}


/* ========================= styling the features ========================= */

.features
{
    display: flex;
    justify-content: space-between;
    width: 98vw;
    margin: 0.9em auto;
    padding: 1em;
    gap: 0.5em;
    height: 65vh;
    background-color: var(--secondary);
    border-radius: 1em;
}

.features .box1,
.features .box2,
.features .box3
{
    flex: 1;
    padding: 1em;
    border-radius: 1em;
    box-sizing: border-box;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    /* make the text vertically centered as well */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ========================= styling the footer ========================= */
footer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98vw;
    margin: 0.9em auto;
    padding: 1em;
    gap: 0.5em;
    max-height: 50vh;

    border-radius: 1em;
    flex-wrap: wrap;
    gap: 40px;
}
footer a
{
    text-decoration: none;
    text-align: center;
    background-color: var(--secondary);
    padding: 0.5em;
    border-radius: 1em;
    
    &:hover
{
    background-color: var(--tertiary);
}
}

/* make the links line up perfectly */


