*
{
    margin: 0px;
    padding: 0px;

}
.boxes
{
    border: 3px solid black;
}
.box
{
    width: 400px;
    height: 200px;
    border: 2px solid black;
    margin: 10px;

}

.box-4
{
    background-color: teal;
    position: sticky;
    top: 10px;
 
    
}
.box-1
{
    background-color: rgb(83, 68, 224);
    /* we can change its position based on where it is currently  */
    /* position: relative; */
    left: 2px;
    top: 3px;
}
.box-2
{
    
    background-color: rgb(81, 255, 58);
    /* gets positioned according to the parent that is positioned */
    /* position:absolute; */
    left: 2px;
    top: 20px;
}
.box-3
{
    background-color: rgb(233, 93, 68);
    /* position: fixed; */
    bottom: 0px;
    right: 20px;
}

/* • Exception: transform, filter, or perspective
properties can also make an element appear as positioned
transform: translate(O);
filter: invert(Ø); * /
perspective: eem; * /